<h1>Welcome User</h1>

<a href = "/home/users.csv"><button>Export Users in CSV format</button></a>
<br /><br />
<a href = "/home/employees.pdf"><button>Export Employees in pdf format</button></a>
<br /><br />
<a href = "/students"><button>Send students record by mail</button></a>