<h1>Listing all images</h1>
<p>
  <%= link_to "create new image", new_image_path %>
</p>
click image_name to show image
<table>
  <tr>
    <th><strong>Name</strong></th>
    <th>Caption</th>
  </tr>
  <% @images.each do |image| %>
    <tr>
      <td><%= link_to  image.name, image_path(image) %></td>
      <td><%= image.caption %></td>
    </tr>
  <% end %>
</table>